@page
@model TravelGuide.Pages.Info.RentApartment.Edit

@{
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group col-md-5 mx-auto">
            <label asp-for="InfoAdvertisement.Info">Описане</label>
            <textarea asp-for="InfoAdvertisement.Info" class="form-control"></textarea>
            <span asp-validation-for="InfoAdvertisement.Info"></span>
        </div>
        <div class="mx-auto row col-md-5">
            <div class="form-group col-md-5 mx-auto">
                <label asp-for="InfoAdvertisement.Duration">Срок аренды</label>
                <input type="text" asp-for="InfoAdvertisement.Duration" class="form-control" />
                <span asp-validation-for="InfoAdvertisement.Duration"></span>
            </div>
            <div class="form-group col-md-5 mx-auto">
                <label asp-for="InfoAdvertisement.Rooms">Комнат</label>
                <input type="tel" asp-for="InfoAdvertisement.Rooms" class="form-control"/>
                <span asp-validation-for="InfoAdvertisement.Rooms"></span>
            </div>
        </div>


        <div class="form-group col-md-5 mx-auto">
            <input type="submit" class="btn btn-success btn-ms btn-block"/>
        </div>
    </form>
</div>
</body>
</html>