@page
@model TravelGuide.Pages.Info.TransportSchedule.Delete

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
            <span>Вы уверены?</span>
            <div class="form-group col-md-5 mx-auto">
                <input type="submit" class="btn btn-success btn-ms btn-block" value="да"/>
            </div>
        </form>
</div>
</body>
</html>