@page
@model TravelGuide.Pages.TransportSchedule

@{
    ViewData["Title"] = "Расписание";
}

<div class="container">
    <div class="row">
        <div class="col-9 col-12-medium">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Время</th>
                    <th scope="col">Остановка</th>
                    <th scope="col">До</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Schedules)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>