<section class="d-none d-md-block">
    <h2 class="major">
        <a asp-page="/Info/RentApartment/RentalApartment" class="image featured">
            <span>Квартиры в аренду</span>
        </a>
    </h2>
    <a asp-page="/Info/RentApartment/RentalApartment" class="image featured">
        <img src="/images/rent.jpg" alt=""/>
    </a>
</section>
<ul class="divided">
    <li class="d-block d-md-none">
        <article class="box post-summary">
            <h3>
                <a asp-page="/Info/RentApartment/RentalApartment">Квартиры в аренду</a>
            </h3>
        </article>
    </li>
</ul>