<section class="d-none d-md-block">
    <h2 class="major">
        <a asp-page="./Transport" class="image featured">
            <span>Транспорт</span>
        </a>
    </h2>
    <a asp-page="./Transport" class="image featured">
        <img src="/images/bus.jpg" alt=""/>
    </a>
</section>
<ul class="divided">
    <li class="d-block d-md-none">
        <article class="box post-summary">
            <h3>
                <a asp-page="./Transport">Транспорт</a>
            </h3>
        </article>
    </li>
</ul>