@page
@model TravelGuide.Pages.Hostel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-9 col-12-medium">
            <a href="#" class="image featured">
                <img src="images/hostel.jpg" alt=""/>
            </a>

            <div>
                <h1>Хостел</h1>
            </div>
            <p>
                Гости города останавливаются в&nbsp;хостеле. Количество ночей не&nbsp;ограничено.
            </p>
            <ul>
                <li>
                    Листовой чай/зерновой кофе
                </li>
                <li>
                    Wi-Fi на&nbsp;всей территории хостела
                </li>
                <li>
                    Чистое постельное белье и&nbsp;полотенца
                </li>
            </ul>
            <a href="#" class="image featured">
                <img src="images/hostelin.jpg" alt=""/>
            </a>
            <p>
                Двухместная комната 2000&nbsp;рублей/сутки.
            </p>
            <p>
                Двенадцатиместная 700&nbsp;рублей/сутки.
            </p>
        </div>
        <div class="col-3 col-12-medium">
            <div class="sidebar">
                <section>
                    <h2 class="major">
                        <span>Квартиры в аренду</span>
                    </h2>
                    <a asp-page="RentalApartment" class="image featured">
                        <img src="images/rent.jpg" alt=""/>
                    </a>
                </section>
                <ul class="divided">
                                    <li>
                                        <article class="box post-summary">
                                            <h3>
                                                <a href="https://hostel-inn.ru/">Сайт Hostel-Inn</a>
                                            </h3>
                                        </article>
                                    </li>
                                    <li>
                                        <article class="box post-summary">
                                            <h3>
                                                <a href="https://vk.com/hostelinn">Группа Вконтакте</a>
                                            </h3>
                                        </article>
                                    </li>
                                    <li>
                                        <article class="box post-summary">
                                            <h3>
                                                <a href="https://telegram.me/hostelinn_innopolis">Группа Telegram</a>
                                            </h3>
                                        </article>
                                    </li>
                                </ul>

            </div>
        </div>
    </div>
</div>