@page
@using TravelGuide.Pages
@model TravelGuide.Pages.TransportSchedule

@{
    ViewData["Title"] = "Расписание";
}

<div class="container">
    <div class="row">
        <div class="col-9 col-12-medium">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Время</th>
                  <th scope="col">Остановка</th>
                  <th scope="col">До</th>
                </tr>
              </thead>
              <tbody>
              @if (Model.Schedule != null)
              {
                  @foreach (var line in Model.Schedule)
                  {
                      <tr>
                          <td>@line.Time</td>
                          <td>@line.From</td>
                          <td>@line.To</td>
                      </tr>
                  }
              }
              </tbody>
            </table>
        </div>
    </div>
</div>