@page
@model TravelGuide.Pages.Hostel
@{
    ViewData["Title"] = "Хостел";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-9">
            <header>
                <h2>Хостел</h2>
                <ul class="meta">
                    <li class="icon fa-clock">
                        @{
                            string lastUpdate = "19 days";
                        }
                        @lastUpdate
                    </li>
                </ul>
            </header>
            <a href="#" class="image featured">
                <img src="/images/hostel.jpg" alt=""/>
            </a>

            <p>
                Гости города останавливаются в&nbsp;хостеле. Количество ночей не&nbsp;ограничено.
            </p>
            <p>
                Из услуг в Hostel Inn:
            </p>
            <ul>
                <li>
                    Листовой чай/зерновой кофе
                </li>
                <li>
                    Wi-Fi на&nbsp;всей территории хостела
                </li>
                <li>
                    Чистое постельное белье и&nbsp;полотенца
                </li>
            </ul>
            <br/>
            <p>
                Двухместная комната 2000&nbsp;рублей/сутки.
                <br/>
                Двенадцатиместная 700&nbsp;рублей/сутки.
            </p>
            <a href="#" class="image featured">
                <img src="/images/hostelin.jpg" alt=""/>
            </a>

        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="sidebar">
                <section class="d-none d-md-block">
                    <h2 class="major">
                        <a asp-page="/Info/RentalApartment" class="image featured">
                            <span>Квартиры в аренду</span>
                        </a>
                    </h2>
                    <a asp-page="/Info/RentalApartment" class="image featured">
                        <img src="/images/rent.jpg"  alt=""/>
                    </a>
                </section>
                <ul class="divided">
                    <li class="d-block d-md-none">
                        <article class="box post-summary">
                            <h3>
                                <a asp-page="/Info/RentalApartment">Квартиры в аренду</a>
                            </h3>
                        </article>
                    </li>
                    <li>
                        <article class="box post-summary">
                            <h3>
                                <a href="https://hostel-inn.ru/">Сайт Hostel-Inn</a>
                            </h3>
                        </article>
                    </li>
                    <li>
                        <article class="box post-summary">
                            <h3>
                                <a href="https://vk.com/hostelinn">Группа Вконтакте</a>
                            </h3>
                        </article>
                    </li>
                    <li>
                        <article class="box post-summary">
                            <h3>
                                <a href="https://telegram.me/hostelinn_innopolis">Группа Telegram</a>
                            </h3>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>