@page
@model TravelGuide.Pages.Food

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <header>
                <h2>Где перекусить</h2>
            </header>
            <br/>
            <a href="#" class="image featured">
                <img src="/images/koffe.jpg" alt=""/>
            </a>
            <div class="overflow colText">
                <div class="js-h1">
                    <h1>Кофе-пойнт «Угнать за 60 секунд»</h1>
                    <p class="s24">
                        &nbsp;ул. Спортивная, д.&nbsp;120
                    </p>
                </div>
                В хобби-центре Коммуналка работает точка «Coffee to go» без продавца и бариста. Здесь продается недорогой и вкусный кофе. Точка работает на принципе доверия к людям. Каждый может налить себе кофе или чай и самостоятельно рассчитаться. А еще здесь можно «подвесить» кофе или угоститься «подвешенным» по старинной неаполитанской традиции.
            </div>
            <br/>
            <a href="#" class="image featured">
                <img src="/images/koffe2.jpg" alt=""/>
            </a>
            <div class="overflow colText">
                <div class="js-h1">
                    <h1>Кофейня «Take and wake»</h1>
                    <p class="s24">
                        &nbsp;ул. Университетская, д. 1 (Университет)
                    </p>
                    Кофейня «Take and wake» находится в Университете Иннополис. Чтобы попасть в кафе нужен пропуск.
                </div>
            </div>
            <br/>
            <a href="#" class="image featured">
                <img src="/images/koffe3.jpg" alt=""/>
            </a>
            <div class="overflow colText">
                <div class="js-h1">
                    <h1>Кафе "Патефон Фаины Карловны"</h1>
                    <p class="s24">
                        &nbsp;ул. Спортивная, д.&nbsp;120
                    </p>
                </div>
                Кафе Патефон Фаины Карловны - островок "старого доброго стиля" в суперсовременном городе. Кафе работает с 8.30 до 22.00. Здесь можно вкусно позавтракать, а также насладиться блюдами русской, итальянской и азиатской кухни от шефа. В будни есть ланчи, а бодрящий кофе, чаи и морсы по рецепту тёти Фаи отлично дополнят вашу трапезу. Кстати, вам здесь нальют четыре сорта отличного пива. Еду также можно заказать с доставкой или на вынос.
            </div>
            <br/>
            <a href="#" class="image featured">
                <img src="/images/koffe4.jpg" alt=""/>
            </a>
            <div class="overflow colText">
                <div class="js-h1">
                    <h1>Пиццерия «Cacio e&nbsp;vino»</h1>
                    <p class="s24">
                        &nbsp;ул. Спортивная, д.&nbsp;100
                    </p>
                </div>
                <p>
                    Cacio e&nbsp;vino переводится с&nbsp;итальянского как «сыр и&nbsp;вино». Здесь готовят блюда итальянской кухни.
                    Меню можно посмотреть на&nbsp;сайте, сделать предзаказ или забронировать стол&nbsp;— по&nbsp;телефону.
                </p>
                <p>
                    Средний чек — 500 рублей.
                </p>
            </div>
            <br/>
            <a href="#" class="image featured">
                <img src="/images/koffe5.jpg" alt=""/>
            </a>
            <div class="overflow colText">
                <div class="js-h1">
                    <h1>Кофейня «COFFEE CAVA»</h1>
                    <p class="s24">
                        &nbsp;ул. Университетская, д.&nbsp;1, первый этаж Университета Иннополис
                    </p>
                </div>
                <p>
                    Кофейня находится в&nbsp;здании Университета Иннополис. Можно и&nbsp;выпить кофе, и&nbsp;позавтракать. Есть салаты, вторые блюда и&nbsp;супы. Десерты готовятся в&nbsp;собственной кондитерской.
                </p>
                <p>
                    Средний чек — 600 рублей.
                </p>
            </div>
            <div class="sidebar">
                <a href="#" class="image featured">
                    <img src="/images/koffe6.jpg" alt=""/>
                </a>
                <h6>В городе есть продуктовые магазины торговых сетей:</h6>
                Магнит<br/>
                Бахетлe<br/>
                Пятерочка<br/>
            </div>
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="sidebar">
                <section class="d-none d-md-block">
                    <h2 class="major">
                        <a asp-page="/Info/RentApartment/RentalApartment" class="image featured">
                            <span>Квартиры в аренду</span>
                        </a>
                    </h2>
                    <a asp-page="/Info/RentApartment/RentalApartment" class="image featured">
                        <img src="/images/rent.jpg" alt=""/>
                    </a>
                </section>
                <ul class="divided">
                    <li class="d-block d-md-none">
                        <article class="box post-summary">
                            <h3>
                                <a asp-page="/Info/RentApartment/RentalApartment">Квартиры в аренду</a>
                            </h3>
                        </article>
                    </li>
                </ul>
                <section class="d-none d-md-block">
                    <h2 class="major">
                        <a asp-page="./Transport" class="image featured">
                            <span>Транспорт</span>
                        </a>
                    </h2>
                    <a asp-page="./Transport" class="image featured">
                        <img src="/images/bus.jpg" alt=""/>
                    </a>
                </section>
                <ul class="divided">
                    <li class="d-block d-md-none">
                        <article class="box post-summary">
                            <h3>
                                <a asp-page="./Transport">Транспорт</a>
                            </h3>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>