<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Contact -->
                <section>
                    <h2 class="major">
                        <span>Контакты</span>
                    </h2>
                    <ul class="contact">
                        <li>
                            <a class="icon brands fa-facebook-f" href="https://ru-ru.facebook.com/innopolis.ru/">
                                <span class="label">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="icon brands fa-twitter" href="https://twitter.com/innopolisrus">
                                <span class="label">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a class="icon brands fa-telegram-plane" href="https://t.me/innohelpbot">
                                <span class="label">Telegram</span>
                            </a>
                        </li>
                    </ul>
                </section>

            </div>
        </div>

    </div>
</footer>