<nav id="nav">
    <ul>
        <li class="current">
            <a asp-page="/Index">Путеводитель</a>
        </li>
        <li>
            <a asp-page="/Index">Меню</a>
            <ul>
                <li>
                    <a asp-page="Transport">Транспорт</a>
                    <ul>
                        <li>
                            <a href="#">п1</a>
                        </li>
                        <li>
                            <a href="#">п2</a>
                        </li>
                        <li>
                            <a href="#">п3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Проживание</a>
                    <ul>
                        <li>
                            <a href="#">п1</a>
                        </li>
                        <li>
                            <a href="#">п2</a>
                        </li>
                        <li>
                            <a href="#">п3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Питание</a>
                    <ul>
                        <li>
                            <a href="#">п1</a>
                        </li>
                        <li>
                            <a href="#">п2</a>
                        </li>
                        <li>
                            <a href="#">п3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Что посмотреть</a>
                    <ul>
                        <li>
                            <a href="#">п1</a>
                        </li>
                        <li>
                            <a href="#">п2</a>
                        </li>
                        <li>
                            <a href="#">п3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a asp-page="Account/Authorization">Войти</a>
        </li>
    </ul>
</nav>