<h6 class="text-hide" id="logo">Innopolis TravelGuide</h6>
<nav id="nav">
    <ul>
        <li class="current">
            <a asp-page="/Index">Путеводитель</a>
        </li>
        <li>
            <a asp-page="/Index">Меню</a>
            <ul>
                <li>
                    <a asp-page="Transport">Транспорт</a>
                    <ul>
                        <li>
                            <a asp-page="Transport">Информация</a>
                        </li>
                        <li>
                            <a asp-page="TransportSchedule">Расписание</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-page="Hostel">Проживание</a>
                    <ul>
                        <li>
                            <a asp-page="Hostel">Хостел</a>
                        </li>
                        <li>
                            <a asp-page="RentalApartment">Аренда</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-page="Food">Питание</a>
                </li>
                <li>
                    <a asp-page="Attraction">Что посмотреть</a>
                    <ul>
                        <li>
                            <a href="#">п1</a>
                        </li>
                        <li>
                            <a href="#">п2</a>
                        </li>
                        <li>
                            <a href="#">п3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a asp-page="Account/Authorization">Войти</a>
        </li>
    </ul>
</nav>