@using Microsoft.AspNetCore.Http

<h6 class="text-hide" id="logo">Innopolis TravelGuide</h6>
<nav id="nav">
    <ul>
        <li class="current">
            <a asp-page="/Index">Путеводитель</a>
        </li>
        <li>
            <a asp-page="/Index">Меню</a>
            <ul>
                <li>
                    <a asp-page="/Info/Transport">Транспорт</a>
                    <ul>
                        <li>
                            <a asp-page="/Info/Transport">Информация</a>
                        </li>
                        <li>
                            <a asp-page="/Info/TransportSchedule/TransportSchedule">Расписание</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-page="/Info/Hostel">Проживание</a>
                    <ul>
                        <li>
                            <a asp-page="/Info/Hostel">Хостел</a>
                        </li>
                        <li>
                            <a asp-page="/Info/RentalApartment">Аренда</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-page="/Info/Food">Питание</a>
                </li>
            </ul>
        </li>
        @if (User.Identity.IsAuthenticated
             || Context.Session.GetString("id") != null)
        {
            <li>
                <a asp-page="/Account/Profile">Профиль</a>
            </li>
            <li>
                <form method="post" asp-page="/Account/Logout">
                    <a href="javascript:$('form').submit()">Выйти</a>
                </form>
            </li>
        }
        else
        {
            <li>

                <a asp-page="/Account/Authorization">Войти</a>
            </li>
        }
    </ul>
</nav>